// primary colours
$black-light: rgb(42, 42, 42);
$black-dark: rgba(37, 37, 37);
$black-very-dark: rgba(32, 32, 32);
$black-dark-opacity: rgba(37, 37, 37, 0.8);
$yellow: #fdf100;
$yellow-opacity: rgba(253, 241, 0, 0.3);
$blue: #68bbe5;
$green: #70be5b;
$purple: #4e53a5;
$pink: #e2008a;
$white-light: rgba(255, 255, 255, 0.7);

// fonts
$font-family-title: 'Open sans', 'Arial Black';
$font-family-text: Roboto, Arial;
$font-size-paragraph: 16px;
$font-size-labels: 13px;
$font-size-title: 40px;
$font-size-subtitle: 25px;
