// angular material theme
@import '~@angular/material/theming';
@include mat-core();
@import 'assets/theme';

// define color palette
$purple-palette: (
  50: #e9eaf4,
  100: #c7cae4,
  200: #a3a8d2,
  300: #8087bf,
  400: #666cb2,
  500: #4e52a5,
  600: #484a9b,
  700: #3f418f,
  800: #383783,
  900: #2b266d,
  contrast: (
    50: $black-dark-opacity,
    100: $black-dark-opacity,
    200: $black-dark-opacity,
    300: $black-dark-opacity,
    400: $black-dark-opacity,
    500: $white-light,
    600: $white-light,
    700: $white-light,
    800: $white-light,
    900: $white-light,
  ),
);

$yellow-palette: (
  50: #fffee5,
  100: #fefabf,
  200: #fdf794,
  300: #fbf265,
  400: #f8ee3b,
  500: #fdf000,
  600: #fddd00,
  700: #fec400,
  800: #ffaa00,
  900: #ff7d00,
  contrast: (
    50: $black-dark-opacity,
    100: $black-dark-opacity,
    200: $black-dark-opacity,
    300: $black-dark-opacity,
    400: $black-dark-opacity,
    500: $black-dark-opacity,
    600: $black-dark-opacity,
    700: $white-light,
    800: $white-light,
    900: $white-light,
  ),
);

$cryptocurrency-exchange-simulator-primary: mat-palette($yellow-palette);
$cryptocurrency-exchange-simulator-accent: mat-palette($purple-palette);
$cryptocurrency-exchange-simulator-warn: mat-palette($mat-red);

$cryptocurrency-exchange-simulator-theme: mat-light-theme(
  (
    color: (
      primary: $cryptocurrency-exchange-simulator-primary,
      accent: $cryptocurrency-exchange-simulator-accent,
      warn: $cryptocurrency-exchange-simulator-warn,
    ),
  )
);

@include angular-material-theme($cryptocurrency-exchange-simulator-theme);

// breakpoints - 768px, 375px
// general rules
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $black-light;
}

p,
button {
  color: $white-light;
  font-family: $font-family-text;
  font-size: $font-size-paragraph;

  &.title {
    font-size: $font-size-title;
    font-family: $font-family-title;
  }
}

.small-btn {
  height: 36px;
  width: 120px;
}

.large-btn {
  width: 200px;
  height: 50px;
}

// custom scrollbar
mat-sidenav-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgb(60, 60, 60);
}

mat-sidenav-content::-webkit-scrollbar {
  width: 8px;
  background-color: $black-light;
}

mat-sidenav-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $black-dark;
}

// inputs
.mat-form-field-empty.mat-form-field-label {
  color: $white-light;
}
mat-option.mat-active {
  color: $black-dark !important;
}

.mat-form-field-flex {
  border-bottom: 2px solid $white-light;
}
.mat-form-field {
  &:not(.mat-focused):not(.mat-form-field-invalid) {
    .mat-form-field-flex:hover + .mat-form-field-underline {
      .mat-form-field-ripple {
        background-color: $white-light;
      }
    }
  }
}
.mat-select-arrow,
.mat-select-value-text,
.mat-form-field-label {
  color: $white-light !important;
}

input {
  color: $white-light !important;
}

// mat tabs

.mat-tab-header-pagination-chevron {
  border-color: $white-light;
}

.mat-tab-link {
  color: $white-light;
}

mat-icon {
  color: $white-light;
}
.mat-drawer-content {
  height: 110vh !important;
}
