<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      autoFocus="false"
      mode="over"
      [(opened)]="isMenuOpen"
      class="sidenav"
      (click)="onSidenavClick()"
    >
      <div class="main-tabs">
        <a mat-button routerLink="/home">{{ 'Home' | translate }}</a>
        <a mat-button routerLink="">{{ 'Current quotes' | translate }}</a>
        <a mat-button routerLink="/ranking">{{ 'Ranking' | translate }}</a>
        <a mat-button routerLink="">{{ 'Wallet management' | translate }}</a>
      </div>
      <div class="authorization-tabs">
        <a mat-button routerLink="/authorization/registration">{{
          'Sign up' | translate
        }}</a>
        <a mat-button routerLink="/authorization/login">{{
          'Sign in' | translate
        }}</a>
      </div>
      <span class="form-inline" (click)="$event.stopPropagation()">
        <select
          class="form-control"
          #selectedLang
          (change)="switchLang(selectedLang.value)"
        >
          <option
            *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang"
          >
            {{ language | uppercase }}
          </option>
        </select>
      </span>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <ng-content></ng-content>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
