@import 'apps/cryptocurrency-exchange-simulator/src/assets/theme';

.currency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $black-light;

  .currency {
    flex: 0 0 20vw;
    @media (max-width: 768px) {
      flex: 0 0 30vw;
    }
  }

  .currency-footer {
    width: 100%;
    color: $white-light;
    text-align: center;
    margin-top: 20px;
  }
}
